@media (min-width: 768px) {
    .jumbotron {
        padding-top: 100px;
        padding-bottom: 80px;
        margin-top: -30px;
        margin-bottom: 0;
    }
    .container {
        max-width: 960px!important;
    }
}
