@media (min-width: 768px) {
    .jumbotron {
        padding-top: 80px;
        padding-bottom: 60px;
        margin-top: -30px;
        margin-bottom: 0;
    }
    .container {
        max-width: 960px!important;
    }
}

@media (max-width: $screen-sm-max) {
    body {
        margin-bottom: 80px;
    }

    .page-content h1 {
        font-size: 35px;
    }

    .page-content h1 small {
        display: inline-block;
        font-size: 22px;
    }

}

@media (max-width: $screen-xs-max) {
    .recipe h3 {
        font-size: 22px;
        margin-top: 10px;
    }
    .jumbotron.home-header {
        padding-top: 40px;
        padding-bottom: 80px;
    }
    .section {
        padding: 0!important;
    }

    .course {
        padding: 0!important;
        transform: scale(1);
    }


    // style courses button groups
    .btn-group>.btn {
        width: 50%;
        margin-bottom: 3px;
        border-radius: 0;
    }
    .btn-group>.btn:first-child {
        width: 100%;
    }
    .searchbox {
        margin-top: 20px;
    }
}
