//== Colors
$brand-primary:         #3469B2;
$brand-success:         #51B751;
$brand-info:            #5bc0de;
$brand-warning:         #F3A941;
$brand-danger:          #E84B46;

//== Sizes
$font-size-base:        16px;
$line-height-base:      1.5;

$border-radius-small:   3px;
$border-radius-base:    3px;
$border-radius-large:   4px;

$navbar-height:         74px;

// $input-height-base:     44px;

$padding-base-vertical:     8px !default;
$padding-base-horizontal:   16px !default;

$padding-large-vertical:    12px !default;
$padding-large-horizontal:  20px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  12px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     6px !default;

$modal-inner-padding:       30px !default;
$modal-title-padding:       25px !default;

$navbar-inverse-border:     #1D1D1D;



$input-border-focus:        #66afe9 !default;